body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .App{
  height: 100%;
} */
.main{
  width: 100%;
  height: 80%;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.nav{
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  padding: 10px;
}
.tabs{
  height:10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.list{
  width:80%;
  height:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-card{
  width: 80%;
  height: 200px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: grey;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
}
.left{
  width:20%;
  /* height: 100%; */
}
.left img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.right{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between ;
}
.right div{
  margin: 10px;
}
.title{
  font-size: 1.5rem;
}
.footer{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.fav-btn{
  background-color: black;
  color: azure;
  border-radius: 8px;
  
}
.unfav-btn{
  background-color: red;
  color: azure;
  border-radius: 8px;
  
}
.active-tab{
  background-color: blue;
}
